.backgro{
    background-image: url(https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1{
width: 220px;
height: 220px;
}